.App {
  text-align: center;
  width: 100%;
  height:100%;
  margin: 0 auto;
}


.nav-section{
  position: relative;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.navWrapperDiv2{

  display: flex;
  line-height: 70px;
  flex-direction: column;
  margin: 15%;
  transition: transform 0.5s linear;
 border-top: 1px solid #e5e5e5;
}

.tableheader{
  width:100%;
  padding:2%;
  
}

.btn-newstudy{
  display: flex;
justify-content: flex-end;
padding:2%;


}
.btn-newstudy button{
  background: #595959;
border-radius: 4px;
color:white;
}