* {

    margin: 0px;
    padding: 0px;
    font-size: 15px;

}

html, body, #root, #root>div {

    width: 100%;
    height: 100%;
    min-height: 100%;
    /* overflow-x: hidden;
    overflow-y: auto; */

}