.LoginLink {
  margin-left: 2%;
}

Button.Logout {
  margin-left: 2.5%;
  background-color: rgb(190, 67, 73);
  color: white;
  text-transform: none;
  width: 100px;
}
Button.Logout:hover {
  color: #096dd9;
  background-color: white;
}

.LoginLink:hover {
  opacity: 0.8;
}

.LoginLink img {
  width: 200px;
}
