#sidebar-wrapper {

    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding: 20px 0px 0px 0px;

}

.sidebar-expanded { width: 250px;  }

.sidebar-collapsed { width: 125px; }

.dash-control-icon {

    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 10px;

}

.pfp {

    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50px;
    margin-bottom: 25px;

}

.pfp-collapsed { margin-left: 10px; }

.pfp-text {

    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    margin-left: 35px;

}

.pfp-text-collapsed { margin-left: 30px; }

.profile-menu-container {

    height: 60px;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: start;

}

.selected {

    padding-left: 5px;
    border-left: 15px solid #C4C4C4;

}

.menu-option-disabled { opacity: .4; }

.profile-menu-icon {

    width: 30px;
    height: 30px;
    margin-left: 10px;

}

.menu-icon-collapsed { margin-left: 23px; }

.menu-icon-img {

    width: 25px;
    height: 25px;
    margin-left: 13px;

}

.menu-icon-img-collapsed { margin-left: 25px; }

.profile-menu-text {

    font-size: 20px;
    margin: 0px 10px 0px 20px;

}

.profile-menu-text:hover {

    text-decoration: underline;

}

.menu-text-collapsed { display: none; }