#sidebar-wrapper {

    width: 250px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding: 40px 0px 0px 0px;

}

#profile-pic {

    width: 125px;
    height: 125px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50px;
    margin-bottom: 25px;

}

.profile-menu-container {

    height: 60px;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: start;

}

.selected {

    padding-left: 5px;
    border-left: 15px solid #C4C4C4;

}

.profile-menu-icon {

    width: 30px;
    height: 30px;
    margin-left: 10px;

}

.profile-menu-text {

    font-size: 20px;
    margin: 0px 10px 0px 20px;

}

.profile-menu-text:hover {

    text-decoration: underline;

}